.about{
  padding: 10px;
  scrollbar-width: none;
  overflow: scroll;
  background-color: var(--secondary-bg-color);
}
.card-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}
@keyframes slide-in {
  from{
    transform: translateX(-20%);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}

.card{
  animation: slide-in 2s ease-in forwards;

  margin: 25px;
  border-radius: 4px;
  background-color: var(--primary-text);
  min-width: 220px;
  max-width: 400px;
  height: 180px;

  box-shadow: 4px 4px var(--box-shadow);

  display: flex;

}
.anime{
  animation: slide-in 2s ease-in forwards;
}

@keyframes slide-in {
  from{
    transform: translateX(-20%);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}
.card:hover{
  box-shadow: 4px 4px 5px var(--box-shadow);
}
.thumbnail{
  width: 40%;
  overflow: hidden;
}
.thumbnail > img{
  width: 100%;

  /* Not working */
  object-fit: contain;
  object-position: top;
}
.caption{
  margin-top: 5px;
  color: black;
  font-size: 14px;
  border-left: 2px solid var(--box-outline);
  border-radius: 3px;
  text-align: center;
  bottom: 0;
  padding: 10px;
  width: 60%;
}