.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
form{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  row-gap: 15px;

  flex-direction: column;
  margin-top: 22px;
  padding: 35px 0 20px 0;
  flex: 1 1 auto;

  border: 2px solid var(--box-outline);
  border-top: none;
  border-bottom: none;
  border-radius: 5px;
  height: fit-content;
  width: 70%;

  background-color: var(--box-outline) ;
}
label{
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  width: 85%;
  color: var(--secondary-color);
}
label span{
  /* font-weight: 600px; */
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-family: 'Franklin Gothic Medium','Arial Black';
  /* text-transform: uppercase; */
}
.c-icon{
  width: 18px;
}

input{
  outline: none;
  color: white;
  height: 25px;
  margin-top: 8px;
  margin-bottom: 10px;
  font-weight: 500;
  background-color: transparent;
  border-radius: 15px;
  border: none;
  border-bottom: 2px solid var(--secondary-color);
  font-size: 16px;
  padding: 5px 10px;
  transition: 1200ms;
}
input:focus{
  border-radius: 0;
}
textarea{
  outline: none;
  /* height: 80px; */
  margin-top: 15px;
  color: white;  
  background-color: transparent;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid var(--secondary-color);
  border-top: none;
  font-size: 16px;
  padding: 5px;
  transition: 1.6s;
}
textarea:focus{
  border-radius: 0;
}

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 2px;
  width: 40%;
  height: auto;
  border: 1.5px solid;
  margin-top: 5px;
  padding: 7px 0;
  border-radius: 20px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  text-transform: uppercase;
  transition: 0.7s ease-in-out;
}
.btn:hover{
  background-color: transparent;
  color: var(--secondary-color);
}

.ct-icon{
  width: 20px;
}