.loader{
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 20px;
  display: none;

  cursor:progress;
}
.loader > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loadImg {
  width: 75%;
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.bar-container{
  border: 1px solid rgb(23, 24, 36);
  width: 60%;
  height: 20px;
  background-color: transparent;
  overflow: hidden;
}
.bar{
  background: linear-gradient(90deg, var(--bg-color), rgb(5, 5, 188), rgb(15, 15, 116));
  color: blue;
  width: 1%;
  /* height: auto; */
  transition: width 0.1s ease;
}