@media (max-width:850px) and (min-width:560px){
  .hero{
    display: flex;
    flex-direction: column;
  }
  .profile-container span{
    right: 25%;
    bottom: -5px;
  }
  .intro-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    align-items: center;
    width: 100%;
  }
  .lineOne::before{
    width: 0;
  }
  .lineTwo{
    display: flex;
    column-gap: 10px;
    font-size: 27px;
  }
  .cta-row{
    justify-content: space-evenly;
  }
  .stat-row{
    margin-top: 35px;
  }
  .scroll-hint{
    bottom: -5px;
  }

  /* .about */
  .card-wrapper{
    grid-template-columns: 1fr 1fr;
  }
  .about .card{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about .caption{
    width: 98%;
    height: 110px;
    margin-top: 0;
    padding-top: 0;
    border-left: 0;
  }
  
  /* gallery */
  .g-card-wrapper{
    grid-template-columns: 1fr 1fr;
  }
  .g-body h2{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .g-body{
    padding: 12px;
  }

  /* contact */
  form{
    width: 85%;
  }
}

@media (max-width:550px){
  .home{
    height: fit-content;
  }
  .hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .profile-container{
    position: relative;
  }
  .img-ring{
    /* position: absolute; */
    border-radius: 10%;
    /* width: 270px;
    height: 270px;
    animation: bubbles 4s ease-in-out;
    animation-iteration-count: infinite; */
  }

  .profile-container img{
    border-radius: 10%;
    width: 250px;
  } 
  .profile-container span{
    bottom: -4%;
    right: 25%;
  }

  .container-wrapper{ width: 100%;}
  .intro-container{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    justify-content: center;
    width: 100%;
  }
  .lineOne{
    flex: 1;
    place-content: center;
  }
  .lineOne::before{
    width: 0;
  }

  .lineTwo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    margin-bottom: 2px;
  }
  .lineTwo span{
    font-size: 24px;
  }
  .lineThree{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-left: 0;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  .lineThree span{
    text-align: center;
  }
  .lineThree span:nth-child(2){
    color: var(--secondary-color);
  }
  .lineThree span:nth-child(3){
    color: var(--fade-color);
  }
  
  .cta-row{
    justify-content: space-between;
    padding: 0 15px;
  }
  .cta-row button {
    gap: 5px;
  }
  .btn-primary, .btn-ghost{
    padding: 12px 25px;
  }

  .stat-row{
    margin-top: 35px;
  }
  
  /* about */
  .about .card-wrapper, .g-card-wrapper{
    grid-template-columns: 1fr;
  }
  .about .card{
    margin-top: 10px;
  }
  .design-tool{
    padding-top: 15px;
  }

  /* contact */
  .contact, .contact h3{
    margin: 0;
    margin-top: 0;
  }
  .form-container{
    margin-bottom: 30px;
  }
  form{
    margin-top: 10px;
    width: 95%;
  }

  .btn{
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 25px;
    gap: 5px;
    font-size: 13px;
  }
  .btn .ct-icon{
    width: 16px;
  }

}